@namespace bf "http://id.loc.gov/ontologies/bibframe/";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace exml "https://sub.uni-goettingen.de/met/standards/entity-xml#";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";


/*   ###############################################   */
/* #################  COLOR Schema  ################## */
/*   ###############################################   */
:root {
    background:#EFF1F3;
}

lemmacat:before(100) {
    content: 
        "Catalogue ("
        oxy_xpath(" count(./lemma) ")
        ")";
    font-size: 2em;
    display: block;
    border-bottom: 3px solid brown;
    margin-bottom: 0.5em;
}

/*++++++++++++++++{  LEMMA Entry  }++++++++++++++++++*/

lemmacat:before(90) {
    content: 
        " "
        oxy_button(action oxy_action(
                name, 'add lemma',
                description, 'Add a new lemma',
                operation, 'InsertFragmentOperation',
                arg-fragment, '<lemma xmlns="https://classicmayan.org/schema/lemmacat"><reading><item/><reading/><spelling><item/></spelling><translation/><pos/><note/><alternatives/><dictionaries/></lemma>',
                arg-insertLocation, '',
                arg-insertPosition, 'Inside as first child'),
            transparent, "false",
            fontInherit, "false");
}

lemma {
    display: block;
    margin-bottom: 3em;
    border-left: 5px solid brown;
    border-right: 5px solid brown;
    padding: 10px 20px 10px 20px;
    background-color: rgba(206, 194, 194, 0.61);
}

lemma:before(100) {
    display: block;
    font-size: 2em;
    border-bottom: 1px solid rgb(199, 186, 186);
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    content: 
        "#"
        oxy_xpath("count(preceding-sibling::lemma)+1")
        ": { "
        oxy_xpath("if(form) then (form[1]/term[1]/text()[1]) else( reading/item[1]/text() )")
        " }";
}

lemma:after(90) {
    position: relative;
    content: 
        oxy_button(action oxy_action(
                name, 'add new lemma after this one',
                description, 'Add a new lemma',
                operation, 'InsertFragmentOperation',
                arg-fragment, '<lemma xmlns="https://classicmayan.org/schema/lemmacat"><reading><item/></reading><spelling><item/></spelling><translation/><pos/><note/><alternatives/><dictionaries/></lemma>',
                arg-insertLocation, '',
                arg-insertPosition, 'After'),
            transparent, "false",
            fontInherit, "false");
}

/*++++++++++++++++{  TWKM Entry  }++++++++++++++++++*/
lemma > * {
    display: block;
}

lemma > *:not(dictionaries):not(alternatives)::before(100),
lemma > *:not(dictionaries):not(alternatives)::before(200) {
    font-weight: 100;
    font-style: normal;
    padding: 4px;
    line-height: 1.4em;
}

lemma > *:not(dictionaries):not(alternatives)::before(100) {
    width: 8em;
    margin-right: 10px;
    background: brown;
    color: white;
    text-align: right;
}

lemma > *:not(dictionaries):not(alternatives)::before(200) {
    font-style: normal;
    font-weight: 600;
    font-family: monospace;
    content:
        oxy_button(action oxy_action(
                name, 'x',
                description, 'Delete Item',
                operation, 'DeleteElementOperation',
                arg-elementLocation, '.'),
            transparent, "true",
            fontInherit, "true",
            color, "brown");
}

lemma > *:not(dictionaries):not(alternatives) {
    border-bottom: 1px solid rgb(231, 227, 227);
}

lemma feat::before(100),
lemma form::before(100) {
    content: oxy_xpath(" if (string-length(@type) > 12) then( substring(@type, 1, 11)||'. ' ) else (@type||'  ') ");
}

lemma feat:focus::before(100),
lemma form:focus::before(100) {
    content: 
        oxy_popup( 
            edit, "@type", 
            selectionMode, single,
            fontInherit, true
        );
}

lemma def:before(100) {
    content: "definition  ";
}

/*Defaut Labeling of elements in lemma*/
lemma > *:not(dictionaries):not(alternatives):not(feat):not(form):not(def)::before(100) {
    content: oxy_xpath(" name()||' ' ");
    font-family: monospace;
}



lemma > reading:after(50),
lemma > spelling:after(50),
lemma > feat:after(50),
entry > reading:after(50),
entry > spelling:after(50),
entry > feat:after(50) {
    content: 
        "  "
        oxy_button(action oxy_action(
                name, 'add',
                description, 'Add a new item',
                operation, 'InsertFragmentOperation',
                arg-fragment, '<item xmlns="https://classicmayan.org/schema/lemmacat"></item>',
                arg-insertLocation, '',
                arg-insertPosition, 'Inside as last element'),
            transparent, "true",
            fontInherit, "false",
            color, "brown");
}


lemma > translation::before(50),
lemma > translation::after(50),
lemma def::before(50),
lemma def::after(50) {
    content: "\"";
}

lemma def[xml|lang]::after(60) {
    content: " (" oxy_xpath('@xml:lang') ")";
}

lemma > translation,
lemma def {
    font-style: italic;
}

/*++++++++++++++++{  Items  }++++++++++++++++++*/
lemma > reading > item,
lemma > spelling > item,
lemma > feat > item {
    padding: 2px 4px;
    margin-right: 5px;
}

item {
    -oxy-display-tags: none;
    border: 1px solid brown;
    margin-right: 5px;
}

entry item {
    padding: 0px 3px;
}

lemma > * > item:hover::after(10),
item:hover::after(10) {
    font-style: normal;
    font-weight: 600;
    font-family: monospace;
    content: 
        " "
        oxy_button(action oxy_action(
                name, 'x',
                description, 'Delete Item',
                operation, 'DeleteElementOperation',
                arg-elementLocation, '.'),
            transparent, "true",
            fontInherit, "true",
            color, "brown");
}

lemma > reading > item:first-child {
    font-weight: 600;
    font-style: italic;
}

/*++++++++++++++++{  Alternative Readings & Dictionaries  }++++++++++++++++++*/

lemma > alternatives,
lemma > dictionaries {
    margin-top: 1.5em;
}

lemma > alternatives::before(100),
lemma > alternatives::before(90),
lemma > dictionaries::before(100),
lemma > dictionaries::before(90) {
    font-size: 1.5em;
}

lemma > alternatives::before(100) {
    content: "Alternative Readings";
    background-color: none;
    color: black;
    margin-right: 0;
}

lemma > dictionaries::before(100) {
    content: "Dictionaries";
    background-color: none;
    color: black;
    margin-right: 0;
    padding: 0;
    width: 0;
}

lemma > alternatives::before(90),
lemma > dictionaries::before(90) {
    content: 
        " ("
        oxy_xpath("count(./entry)")
        ")";
}

lemma > alternatives::after(80),
lemma > dictionaries::after(80) {
    content: 
        oxy_button(action oxy_action(
                name, 'add entry',
                description, 'Add a new entry',
                operation, 'InsertFragmentOperation',
                arg-fragment, '<entry xmlns="https://classicmayan.org/schema/lemmacat"><source ref="" page=""/><readings><reading/></readings><spellings><spelling/></spellings><translation/><pos/></entry>',
                arg-insertLocation, '',
                arg-insertPosition, 'Inside as last child'),
            transparent, "false",
            fontInherit, "false");
}

/* lemma > alternatives::before {
    content: " ";
    display: block;
} */



/* entry > source {
    display: block;
    -oxy-display-tags: none;
} */


/*++++++++++++++++{  Entries  }++++++++++++++++++*/
entry {
    display: block;
    margin-bottom: 1.5em;
}

entry {
    border-left: 2px solid brown;
    padding-left: 5px;
}

entry:before(100) {
    content: oxy_xpath(" for $id in @source return string-join(//bibl[@xml:id = $id]//text()[not(normalize-space(.)='')][not(parent::*:note)], '') ") ", ";
    font-style: italic;
}

entry:focus:before(100) {
   content: " " 
        oxy_popup( 
            edit, "@source", 
            selectionMode, single,
            fontInherit, true
        )
        ", ";
}

entry[page]:before(90) {
    content: oxy_xpath(" @page ");
}

entry[page]:focus:before(90) {
    content: oxy_textfield(edit, "@page", columns, 5);
}


/* entry:not( lemmacat|translation ):after(70) {
    content:
        oxy_button(action oxy_action(
            name, 'add translation',
            description, 'Add a new Translation',
            operation, 'InsertFragmentOperation',
            arg-fragment, '<translation xmlns="https://classicmayan.org/schema/lemmacat"></translation>',
            arg-insertLocation, '(*:reading,*:spelling)[last()]',
            arg-insertPosition, 'After',
            arg-schemaAware, 'true'),
        transparent, "false",
        fontInherit, "false");
}

entry:after(80) {
    content:
        oxy_button(action oxy_action(
            name, 'add other feature',
            description, 'Add a new entry',
            operation, 'InsertFragmentOperation',
            arg-fragment, '<feat type="" xmlns="https://classicmayan.org/schema/lemmacat"><item/></feat>',
            arg-insertLocation, '(*:reading,*:spelling,*:translation, *:pos)[last()]',
            arg-insertPosition, 'After'),
        transparent, "false",
        fontInherit, "false");
} */

/* entry:after(90) {
    content:
        oxy_button(action oxy_action(
            name, 'add note',
            description, 'Add a new entry',
            operation, 'InsertFragmentOperation',
            arg-fragment, '<note xmlns="https://classicmayan.org/schema/lemmacat"></note>',
            arg-insertLocation, 'child::element()[last()]',
            arg-insertPosition, 'Inside as last child'),
        transparent, "false",
        fontInherit, "false");
} */

/* entry:before(2) {
    content:"";
    display: block;
    font-size: 5px;
} */






/*++++++++++++++++{  Entry Features  }++++++++++++++++++*/

entry > * {
    display:block;
    border-bottom: 1px solid rgb(199, 186, 186);
}

entry > *::before(100),
entry > *::before(200) {
    font-weight: 100;
    font-style: normal;
    padding: 4px;
}

entry > *::before(200) {
    font-style: normal;
    font-weight: 600;
    font-family: monospace;
    padding: 0px;
    content:
        oxy_button(action oxy_action(
                name, 'x',
                description, 'Delete Item',
                operation, 'DeleteElementOperation',
                arg-elementLocation, '.'),
            transparent, "true",
            fontInherit, "true",
            color, "brown");
}

entry > *::before(100) {
    width: 8em;
    margin-right: 10px;
    background: brown;
    color: white;
    text-align: right;
}

entry > *:before(100) {
    background-color: brown;
    color: #fff;
    padding: 0px 3px;
}

entry > *:not(feat):before(100) {
    content: oxy_xpath( "name()" ) "  ";
}

entry > feat:before(100) {
    content: oxy_xpath(" substring(@type, 1, 9)||'. ' ") "  ";
}

/* entry > *::before(100) {
    font-weight: 100;
    font-style: normal;
} */

/* entry > *:not(source):not(:last-child):after(100) {
    content: ", ";
    font-weight: 100;
    font-style: normal;
} */

/* entry > readings > reading:first-child {
    font-weight: 600;
    font-style: italic;
    -oxy-display-tags: none;
} */

/* entry > *:not(source):after {
    content: " (" oxy_xpath(" name() ") ")";
    font-weight: 100;
    font-style: normal;
} */

/* entry > *:not(source) {
    -oxy-display-tags: none;
    padding: 0px 5px 0px 0px;

} */

/* entry > *:not(source):not(:last-child) {
    margin-right: 15px;
    
} */

/* entry > *:not(source):before(100) {
    content: oxy_xpath("name()") ":";
    background-color: brown;
    color: #fff;
    padding: 0px 3px;
} */
/* entry > *:not(source):before(90) {
    content:" ";
} */




/*++++++++++++++++{  Sources  }++++++++++++++++++*/

sources:before(100) {
    content: "Bibliography (" oxy_xpath(" count(./bibl) ") ")";
    font-size: 2em;
    display: block;
    border-bottom: 3px solid brown;
    margin-bottom: 0.5em;
}

sources > bibl {
    display: block;
    margin-left: 0.25em;
    margin-bottom: 1em;
    border-left: 2px solid brown;
    font-size: large;
}

sources > bibl::before(100) {
    content: " ";
}

sources > bibl date {
    font-weight: 600;
    -oxy-display-tags: none;
}

sources > bibl > note {
    display: block;
    margin-left: 1.5em;
    font-size: medium;
}
