@namespace bf "http://id.loc.gov/ontologies/bibframe/";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace exml "https://sub.uni-goettingen.de/met/standards/entity-xml#";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";


/*   ###############################################   */
/* #################  COLOR Schema  ################## */
/*   ###############################################   */
:root {
    background:#EFF1F3;
}

lemmacat:before(100) {
    content: 
        "Catalogue ("
        oxy_xpath(" count(./lemma) ")
        ")";
    font-size: 2em;
    display: block;
    border-bottom: 3px solid brown;
    margin-bottom: 0.5em;
}

/*++++++++++++++++{  LEMMA Entry  }++++++++++++++++++*/

lemmacat:before(90) {
    content: 
        " "
        oxy_button(action oxy_action(
                name, 'add lemma',
                description, 'Add a new lemma',
                operation, 'InsertFragmentOperation',
                arg-fragment, '<lemma xmlns="https://sub.uni-goettingen.de/met/models/lemmacat"><form><term type=""/></form><def/><gramGrp><gram type=""/></gramGrp><note/><sense/><seeAlso type=""/></lemma>',
                arg-insertLocation, '',
                arg-insertPosition, 'Inside as first child'),
            transparent, "false",
            fontInherit, "false");
}

lemma {
    display: block;
    margin-bottom: 3em;
    border-left: 5px solid brown;
    border-right: 5px solid brown;
    padding: 10px 20px 10px 20px;
    background-color: rgba(206, 194, 194, 0.61);
}

lemma:before(100) {
    display: block;
    font-size: 2em;
    border-bottom: 1px solid rgb(199, 186, 186);
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    content: 
        "#"
        oxy_xpath("count(preceding-sibling::lemma)+1")
        ": { "
        oxy_xpath("(*:reading, *:spelling, *:form)[1]/element()[1]/text()")
        " }";
}

/* lemma:after(90) {
    position: relative;
    content: 
        oxy_button(action oxy_action(
                name, 'add new lemma after this one',
                description, 'Add a new lemma',
                operation, 'InsertFragmentOperation',
                arg-fragment, '<lemma xmlns="https://sub.uni-goettingen.de/met/models/lemmacat"><reading><item/></reading><spelling><item/></spelling><translation/><pos/><note/><alternatives/><dictionaries/></lemma>',
                arg-insertLocation, '',
                arg-insertPosition, 'After'),
            transparent, "false",
            fontInherit, "false");
} */

/* ++++++++++++++++{  FORM LABELS Handling  }++++++++++++++++++*/

lemma > *:not(seeAlso) {
    border-bottom: 1px solid rgb(231, 227, 227);
}

lemma > *::before(100),
lemma > *::before(200) {
    font-weight: 100;
    font-style: normal;
    line-height: 1.4em;
}

lemma form::before(100),
lemma gramGrp::before(100),
lemma def::before(100),
lemma feature::before(100),
lemma usg::before(100),
lemma cit::before(100),
lemma > note::before(100),
lemma > sense > note::before(100) {
    width: 8em;
    margin-right: 10px;
    background: brown;
    color: white;
    text-align: right;
    font-family: monospace;
}

lemma form::before(200),
lemma gramGrp::before(200),
lemma def::before(200),
lemma feature::before(200),
lemma usg::before(200),
lemma cit::before(200),
lemma > note::before(200),
lemma > sense > note::before(200) {
    font-style: normal;
    font-weight: 600;
    font-family: monospace;
    content:
        oxy_button(action oxy_action(
                name, 'x',
                description, 'Delete Item',
                operation, 'DeleteElementOperation',
                arg-elementLocation, '.'),
            transparent, "true",
            fontInherit, "true",
            color, "brown");
}

lemma form::before(100) {
    content: "Forms" !important;
}

lemma feature[type]::before(100) {
    content: oxy_xpath("if (string-length(@type) > 12) then( substring(@type, 1, 11)||'.' ) else if (string-length(@type) < 1) then (name()) else (@type)");
}

lemma feature[type]:focus::before(100) {
    background: rgba(165, 42, 42, 0.30);
    content: 
        oxy_popup( 
            edit, "@type",
            selectionMode, single,
            fontInherit, true
        ) !important;
}

lemma feature:focus::before(100) {
    content: 
        oxy_popup( 
            edit, "@type",
            selectionMode, single,
            fontInherit, true
        );
}

lemma > feature:not(type)::before(100) {
    content: oxy_xpath('name()');
}


/*Defaut Labeling of elements in lemma*/
lemma > *:not(seeAlso):not(feature):not(def):not(sense)::before(100) {
    content: oxy_xpath('name()');
}

lemma usg:before(100) {
    content: "Usage";
}

sense cit:before(100) {
    content: "Sample (" oxy_xpath('count(preceding-sibling::*:cit)+1') ")";
}

/*++++++++++++++++{  ENTRY Element Handling  }++++++++++++++++++*/

/*~~~~~~~~~~~~~ Multi Item Handling ~~~~~~~~~~~~~*/
lemma form > *::before(100),
lemma def > term::before(100) {
    content: oxy_xpath('count(preceding-sibling::*)+1') "";
    background: brown;
    color: white;
    font-style: normal;
    font-weight: 100;
    font-family: monospace;
    padding: 0 3px;
    margin-right: 5px;
}

lemma form > *:not(:last-child)::after(100),
lemma def > term:not(:last-of-type)::after(100) {
    content: "  ";
}


/*~~~~~~~~~~~~~ FORM Block ~~~~~~~~~~~~~*/
lemma form {
    display: block;
}

lemma form > * {
    -oxy-display-tags: none;
}

lemma form:first-child > *:first-child {
    font-weight: 600;
}

lemma form > *:not(term)::after(50) {
    content: " [" oxy_xpath('name()') "]";
    color: brown;
    
}

lemma form::before(50) {
    content: 
        "  "
        oxy_button(action oxy_action(
                name, 'add',
                description, 'Add a new term',
                operation, 'InsertFragmentOperation',
                arg-fragment, '<term xmlns="https://sub.uni-goettingen.de/met/models/lemmacat">${caret}</term>',
                arg-insertLocation, '.',
                arg-insertPosition, 'Inside as last child'),
            transparent, "true",
            fontInherit, "false",
            color, "brown");
}

/*  ~~~~~~~~~~~~~ FORM Block: TERMS ~~~~~~~~~~~~~*/
term {
    display:block;
    margin-left: 14px;
}

term[type]::after(30) {
    content: " (" oxy_xpath("if (string-length(@type) > 12) then( substring(@type, 1, 11)||'.' ) else if (string-length(@type) < 1) then (name()) else (@type)") ")";
    font-weight: 100;
    font-style: normal;
    color: brown;
}

term:focus::after(30) {
    content:
        " (" 
        oxy_popup( 
            edit, "@type",
            selectionMode, single,
            fontInherit, true
        )
        ")" ;
}


term[source]::after(49),
term[page]::after(49) {
    content: " ";
}
term[source]::after(50),
term[page]::after(52) {
    font-family: Calibri, sans-serif;
    background: rgb(218, 180, 180);
    margin-right: 5px;
}

term[source]::after(50) {
    content: oxy_xpath('for $id in @source return //*:bibl[@xml:id=$id]//text()');
}

term[page]::after(52) {
    content: oxy_xpath('@page');
}



/*  ~~~~~~~~~~~~~ GramGrp Block ~~~~~~~~~~~~~*/
gramGrp {
    display: block;
    -oxy-display-tags: none;
}

gramGrp::before(100) {
    content: "Gram. Info." !important;
}

gramGrp > * {
    -oxy-display-tags: none;
}

gramGrp > *:not(:last-of-type)::after(500) {
    content: " ";
}

gramGrp > gram::after(100) {
    content: 
        " ("     
        oxy_xpath(' @type ')
        ")";
    color: brown;
}

gramGrp > gram:focus::after(100) {
    content:
        " (" 
        oxy_popup( 
            edit, "@type",
            selectionMode, single,
            fontInherit, true
        )
        ")" ;
}


/*  ~~~~~~~~~~~~~ DEF Block ~~~~~~~~~~~~~*/
def:before(100) {
    content: "Definition" !important;
}

def {
    display: block;
}

def > term {
    -oxy-display-tags: none;
}

def > term[xml|lang]::after(60) {
    content: " (" oxy_xpath('@xml:lang') ")";
}


/*  ~~~~~~~~~~~~~ FEATURE Block ~~~~~~~~~~~~~ */
feature {
    display: block;
    -oxy-display-tags: none;
}

feature > value {
    -oxy-display-tags: none;
}

feature > note {
    display: block;
    border-left: 3px solid brown;
    background: lightgray;
    padding-left: 5px;
    margin: 10px 0 10px 13px;
    line-height: 1.5em;
}

feature > note {
    display: block;
    
}

/*  ~~~~~~~~~~~~~ BIBLs ~~~~~~~~~~~~~ */
lemma bibl {
    -oxy-display-tags: none;
    font-family: Calibri, sans-serif;
    background: rgb(218, 180, 180);
    margin-right: 5px;
}

lemma bibl:after(200),
lemma bibl:before(200) {
    content: " ";
}

lemma bibl[ref]::before(1) {
    content: oxy_xpath('for $id in @ref return //bibl[@xml:id = $id]//text()');
}

lemma bibl[ref]:focus::before(1) {
    content:
        oxy_popup( 
            edit, "@ref",
            selectionMode, single,
            fontInherit, true
        );
}

lemma bibl > citedRange {
    -oxy-display-tags: none;
}

lemma bibl > citedRange::before(100) {
    content: ", "
}

/*  ~~~~~~~~~~~~~ SENSE Block ~~~~~~~~~~~~~ */
sense {
    display: block;

}

sense::before(500) {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 100;
    font-size: 1.5em;
    border-bottom: 1px solid brown;
    content: 
        "Sense "
        oxy_xpath('if (@n) then (@n) else (count(preceding-sibling::*:sense)+1)')
}

sense cit {
    display: block;
    -oxy-display-tags: none;
}

sense cit * {
    -oxy-display-tags: none;
}

sense cit:has(bibl) quote:after(200) {
    content: " ";
}

sense cit quote[xml|lang]:after(5) {
    content: "@" oxy_xpath('@xml:lang');
}

sense cit quote:after(10),
sense cit quote:before(10) {
    content: "\"";
}

sense usg {
    -oxy-display-tags: none;
}


/*  ~~~~~~~~~~~~~ NOTE Blocks ~~~~~~~~~~~~~ */
lemma > note::before(100),
entry > note::before(100) {
    content: "Note" !important;
}

lemma > note,
entry > note {
    display:block;
}



/*++++++++++++++++{  SeeAlso Block  }++++++++++++++++++*/
seeAlso {
    margin-top: 1.5em;
}

seeAlso::before(100),
seeAlso::before(90) {
    font-size: 1.5em;
}

seeAlso::before(100) {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 100;
    font-size: 1.5em;
    border-bottom: 1px solid brown;
    content: 
        oxy_xpath( "concat(upper-case(substring(@type,1,1)),substring(@type, 2),' '[not(last())])" )
        " (" 
        oxy_xpath('count(*:entry)+1')
        ")";
}

seeAlso::after(80) {
    content: 
        oxy_button(action oxy_action(
                name, 'add entry',
                description, 'Add a new entry',
                operation, 'InsertFragmentOperation',
                arg-fragment, '<entry xmlns="https://sub.uni-goettingen.de/met/models/lemmacat"><bibl ref=""><citedRange/></bibl><form><term/></form><def/><gramGrp><gram type=""></gram></gramGrp></entry>',
                arg-insertLocation, '',
                arg-insertPosition, 'Inside as last child'),
            transparent, "false",
            fontInherit, "false");
}


/*++++++++++++++++{  ENTRY Block  }++++++++++++++++++*/
entry {
    display: block;
    margin-bottom: 1.5em;
}

entry {
    border-left: 2px solid brown;
    padding-left: 5px;
}

entry:before(500) {
    display: block;
    background: rgba(165, 42, 42, 0.30);
    font-size: 1.2em;
}

entry:before(500) {
    content: "Entry " oxy_xpath('count(preceding-sibling::*:entry)+1');
}

entry:before(500):has(bibl) {
    content:
        " " 
        oxy_xpath("string-join(for $bibl in ./*:bibl return string-join(//bibl[not(@ref)][@xml:id = $bibl/@ref]//text()[not(normalize-space(.)='')], ''), ', ') ") !important;
}



/* -----------------{  ENTRY: Features  }-----------------*/

entry > * {
    display:block;
    border-bottom: 1px solid rgb(199, 186, 186);
}

entry > *::before(100),
entry > *::before(200) {
    font-weight: 100;
    font-style: normal;
    /* padding: 4px; */
}

entry > *::before(200) {
    font-family: monospace;
    font-weight: 600;
    /* padding: 0px; */
    content:
        oxy_button(action oxy_action(
                name, 'x',
                description, 'Delete Item',
                operation, 'DeleteElementOperation',
                arg-elementLocation, '.'),
            transparent, "true",
            fontInherit, "true",
            color, "brown") !important;
}

entry > *::before(100) {
    width: 8em;
    /* margin-right: 10px; */
    background: brown;
    color: white;
    text-align: right;
}

entry > *:before(100) {
    background-color: brown;
    color: #fff;
    /* padding: 0px 3px; */
}

entry > *::before(100) {
    content: oxy_xpath( "name()" ) "";
}

entry > bibl {
    background-color: none !important;
}
entry > bibl::before(100) {
    content: "Bibl. Ref.";
}

entry > bibl::before(50) {
    content: "  ";
}


/*+ ###################{  Sources Division  }################### */

sources:before(100) {
    content: "Bibliography (" oxy_xpath(" count(./bibl) ") ")";
    font-size: 2em;
    display: block;
    border-bottom: 3px solid brown;
    margin-bottom: 0.5em;
}

sources > bibl {
    display: block;
    margin-left: 0.25em;
    margin-bottom: 1em;
    border-left: 2px solid brown;
    font-size: large;
}

sources > bibl::before(100) {
    content: " ";
}

sources > bibl date {
    font-weight: 600;
    -oxy-display-tags: none;
}

sources > bibl > note {
    display: block;
    margin-left: 1.5em;
    font-size: medium;
}
