@namespace bf "http://id.loc.gov/ontologies/bibframe/";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace exml "https://sub.uni-goettingen.de/met/standards/entity-xml#";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";


/*   ###############################################   */
/* #################  COLOR Schema  ################## */
/*   ###############################################   */
:root {
    background:#EFF1F3;
}

lemmacat:before(100) {
    content: 
        "Catalogue ("
        oxy_xpath(" count(./lemma) ")
        ")";
    font-size: 2em;
    display: block;
    border-bottom: 3px solid brown;
    margin-bottom: 0.5em;
}

/*++++++++++++++++{  LEMMA Entry  }++++++++++++++++++*/
lemma {
    display: block;
    margin-bottom: 2em;
    line-height: 1.5em;
}

form,
reading,
spelling {
    -oxy-display-tags: none;
    font-style: italic;
}



form:not(:last-child)::after(100),
reading:not(:last-child)::after(100),
spelling:not(:last-child)::after(100) {
    content: oxy_xpath('if( not(following-sibling::element()[1][name()=("form", "spelling", "reading")]) ) then (" ") else (", ")');
}

form > *,
reading > *,
spelling > * {
    -oxy-display-tags: none;
}

form > *:not(:last-child)::after(100),
reading > *:not(:last-child)::after(100),
spelling > *:not(:last-child)::after(100) {
    content: ", ";
}

lemma > form:first-child > *:first-child,
lemma > reading:first-child > *:first-child,
lemma > spelling:first-child > *:first-child {
    font-weight: 600;
}

def {
    -oxy-display-tags: none;
}

def::before(50),
def::after(50) {
    content: oxy_xpath("if (not(child::element())) then ('\"') else ()");
}

def > * {
    -oxy-display-tags: none;
}

def > *::before(50),
def > *::after(50) {
    content: "\"";
}

def > *:not(:last-child)::after(100) {
    content: ", ";
}


/* ++++++++++++++++{  Senses  }++++++++++++++++++*/
sense {
    display:block;
    margin-left: 2em;
}

sense::before(100) {
    font-weight: 600;;
    content: 
        "("
        oxy_xpath('count(preceding-sibling::*:sense)+1')
        ")  ";
}

sense def:not(:last-child):after(100) {
    content: ", ";
}

/* ++++++++++++++++{  Examples  }++++++++++++++++++*/
cit,
cit quote,
cit bibl {
    -oxy-display-tags: none;
}

cit:not(:last-child)::after(100) {
    content: ", ";
}

cit quote::before(50),
cit quote::after(50) {
    content: "\"";
}

cit bibl::before(50) {
    content: " (";
}

cit bibl::after(50) {
    content: ")";
}

/* ++++++++++++++++{  FORM LABELS Handling  }++++++++++++++++++*/





/*++++++++++++++++{  Sources  }++++++++++++++++++*/

sources:before(100) {
    content: "Bibliography (" oxy_xpath(" count(./bibl) ") ")";
    font-size: 2em;
    display: block;
    border-bottom: 3px solid brown;
    margin-bottom: 0.5em;
}

sources > bibl {
    display: block;
    margin-left: 0.25em;
    margin-bottom: 1em;
    border-left: 2px solid brown;
    font-size: large;
}

sources > bibl::before(100) {
    content: " ";
}

sources > bibl date {
    font-weight: 600;
    -oxy-display-tags: none;
}

sources > bibl > note {
    display: block;
    margin-left: 1.5em;
    font-size: medium;
}
